:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;

}
body{
  font-family: "oswald", sans-serif !important;
  background: var(--mainWhite)! important;
  color: var(--mainDark)! important;

}
.text-title{
  font-family: "permanet maker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);

}
.text-bright{
  color: var(--lightBlue);
}
.btn-black{
  background:transparent;
  text-transform:capitalize;
  font-size: 0.8rem !important;
  color:var(--mainDark);
  border-radius:0 !important;
  border:0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;

}
.cart-icon{
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--mainYellow);
  
}
.foot{
  background: var(--mainBlue);
  display: block;
  text-align:center;
  color: var(--mainWhite);
  height:10rem;
 
}
.foot .ft-1{
  text-align:left;
  text-emphasis: bold;
  float: left;
  
}
.foot .ft-2{
  text-emphasis: bold;
  text-align: right;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  
}
.foot .ft-3{
  align-content: center;
  
}
.foot .ft-3 img{
  width:80px;
  height:50px;
  color: transparent;

}
marquee .a:hover{
cursor: pointer;

}